<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="laser_xacro" params="xyz">
        <!-- laser cylinder component -->
        <link name="laser_cylinder_link">
            <!-- component appearance description -->
            <visual>
                <!-- values of offset and rotation along its own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric shapes -->
                <geometry>
                    <cylinder radius="0.01" length="0.10"/>
                </geometry>
                <!-- material -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>

        <!-- robot's LASER component -->
        <link name="laser_link">
            <!-- component appearance description -->
            <visual>
                <!-- values of offset and rotation along its own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric shapes -->
                <geometry>
                    <cylinder radius="0.02" length="0.02"/>
                </geometry>
                <!-- material -->
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/>
                </material>
            </visual>
        </link>

        <!-- robot's joints, for assembling components of robot -->
        <joint name="laser_joint" type="fixed">
            <parent link="laser_cylinder_link"/>
            <child link="laser_link"/>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        </joint>

        <joint name="laser_cylinder_joint" type="fixed">
            <parent link="base_link"/>
            <child link="laser_cylinder_link"/>
            <origin xyz="${xyz}" rpy="0.0 0.0 0.0"/>
        </joint>
    </xacro:macro>

</robot>
