<?xml version="1.0"?>
<robot name="first_robot">
    <!-- Body Part of Robot -->
    <link name="base_link">
        <!-- component appearance description -->
        <visual>
            <!-- values of offset and rotation along its own geometric center -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- geometric shapes -->
            <geometry>
                <!-- cylinder 0.10m*0.12m -->
                <cylinder radius="0.10" length="0.12"/>
            </geometry>
            <!-- material -->
            <material name="white">
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
    </link>

    <!-- robot's IMU component -->
    <link name="imu_link">
        <!-- component appearance description -->
        <visual>
            <!-- values of offset and rotation along its own geometric center -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <!-- geometric shapes -->
            <geometry>
                <!-- cylinder 0.10m*0.12m -->
                <box size="0.02 0.02 0.02"/>
            </geometry>
            <!-- material -->
            <material name="black">
                <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
    </link>

    <!-- robot's joints, for assembling components of robot -->
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0.0 0.03" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>
