<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_footprint" />

    <!-- base module -->
    <xacro:macro name="base_xacro" params="length radius">
        <!-- Body Part of Robot -->
        <link name="base_link">
            <!-- component appearance description -->
            <visual>
                <!-- values of offset and rotation along its own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric shapes -->
                <geometry>
                    <!-- cylinder 0.10m*0.12m -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <!-- material -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </visual>
            <collision>
                <!-- values of offset and rotation along its own geometric center -->
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <!-- geometric shapes -->
                <geometry>
                    <!-- cylinder 0.10m*0.12m -->
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <!-- material -->
                <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
                </material>
            </collision>
        </link>

        <joint name="joint_name" type="fixed">
            <origin xyz="0.0 0.0 ${length/2.0+0.032-0.001}" rpy="0.0 0.0 0.0"/>
            <parent link="base_footprint"/>
            <child link="base_link"/>
        </joint>
    </xacro:macro>

</robot>
